In [8]:
import pandas as pd

paises = pd.read_csv('../data/Paises.csv')
poblacion = pd.read_csv('../data/Poblacion.csv')
mortalidad = pd.read_csv('../data/Mortalidad-Infantil.csv')
esperanza = pd.read_csv('../data/Esperanza-de-Vida.csv')

In [9]:
paises.drop_duplicates(inplace=True)
poblacion.drop_duplicates(inplace=True)
mortalidad.drop_duplicates(inplace=True)
esperanza.drop_duplicates(inplace=True)

In [17]:
print(paises.isnull().sum())
print(poblacion.isnull().sum())
print(mortalidad.isnull().sum())
print(esperanza.isnull().sum())

Código         0
País           0
Continentes    0
dtype: int64
País         0
Población    0
dtype: int64
País                  0
Mortalidad de Vida    0
dtype: int64
País                 0
Esperanza de Vida    0
dtype: int64

In [10]:
combinado = (
    paises
    .merge(poblacion, on='País', how='inner')
    .merge(mortalidad, on='País', how='inner')
    .merge(esperanza, on='País', how='inner')
)
combinado.info()

<class 'pandas.DataFrame'>
RangeIndex: 216 entries, 0 to 215
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Código              216 non-null    str
 1   País                216 non-null    str
 2   Continentes         216 non-null    str
 3   Población           216 non-null    int64
 4   Mortalidad de Vida  216 non-null    float64
 5   Esperanza de Vida   216 non-null    float64
dtypes: float64(2), int64(1), str(3)
memory usage: 10.3 KB

In [11]:
combinado.describe()

          Población  Mortalidad de Vida  Esperanza de Vida
count  2.160000e+02          216.000000         216.000000
mean   3.432256e+07           35.834120          72.279167
std    1.347600e+08           35.606688           8.525242
min    1.109700e+04            2.290000          50.200000
25%    7.900265e+05            8.167500          67.175000
50%    6.221590e+06           21.170000          74.750000
75%    2.350337e+07           55.705000          78.225000
max    1.378665e+09          191.190000          89.500000

In [12]:
combinado.select_dtypes(include='number').corr()

                    Población  Mortalidad de Vida  Esperanza de Vida
Población            1.000000            0.037467          -0.018430
Mortalidad de Vida   0.037467            1.000000          -0.859457
Esperanza de Vida   -0.018430           -0.859457           1.000000

In [19]:
total_mundial = combinado['Población'].sum()
print("Población total mundial:", total_mundial)

Población total mundial: 7413672933

In [24]:
continentes = (
    combinado
    .groupby('Continentes', as_index=False)
    .agg(Poblacion=('Población', 'sum'))
    .sort_values('Poblacion', ascending=False)
)
print("\nPoblación por continente:")
print(continentes)

Población por continente:
  Continentes   Poblacion
2        Asia  4539589877
0      Africa  1218361843
1     America   997199945
3      Europe   618395817
4     Oceania    40125451

In [26]:
continentes['Porcentaje_Poblacion']=continentes['Poblacion']/continentes['Poblacion'].sum()*100
continentes

  Continentes   Poblacion  Porcentaje_Poblacion
2        Asia  4539589877             61.232670
0      Africa  1218361843             16.433984
1     America   997199945             13.450822
3      Europe   618395817              8.341288
4     Oceania    40125451              0.541236

In [27]:
top_5 = combinado.sort_values('Población', ascending=False).head(5)

print("\nTop 5 países más poblados:")
print(top_5[['País', 'Población']])

Top 5 países más poblados:
              País   Población
59           China  1378665000
61           India  1324171354
183  United States   323127513
62       Indonesia   261115456
206         Brazil   207652865